body,
html {
    margin: 0;
    padding: 0;
    font-family: Lato, Arial, Emoji, "ヒラギノ角ゴPro W3", HiraKakuPro-W3, "ヒラギノ角ゴ W3", "Hiragino Kaku Gothic Pro", "Hiragino Sans", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

#app {
    width: 320px;
    max-height: 480px;
    margin: 0;
    padding: 0;
}

.popup-header {
    background-color: rgb(10, 155, 148);
    padding: 4px;
    margin: 0px;
    height: 32px;
    text-align: center;
}

.popup-header h1 {
    margin: auto;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
}

.popup-container {
    padding: 16px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}

.setting-item {
    margin-bottom: 1rem;
    padding: 4px 0px;
}

.control-label {
    font-weight: 500;
    font-size: 0.9rem;
    color: #333;
    cursor: pointer;
}

.help-block {
    margin: 0.25rem 0 0 0.5rem;
    font-size: 0.8rem;
    color: #666;
    line-height: 1.3;
}
